<% layout('layouts/app') %>  

<div class='grid grid-cols-1 gap-1 md:grid-cols-2 md:gap-6'>
  <div class='p-4'>
    <div class="bg-white rounded-lg shadow-md mb-8">
      <div class="p-6 border-b md:grid-cols-6">
          <h2 class="text-xl font-bold flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin">
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 1 1 16 0Z"></path>
                  <circle cx="12" cy="10" r="3"></circle>
              </svg>
              Event
          </h2>
      </div>
      <div>
          <div>
              <div class='p-4'>
                  <div class='w-full h-80'>
                    <img src="/images/<%= event.images[0].filename %>" alt="<%= event.name %>" class='object-contain w-full h-full mx-auto'>
                  </div>
                  <div class="p-4">
                      <h3 class="font-bold text-lg mb-2"><%= event.name %></h3>
                      <p class="text-gray-600"><%= event.description %></p>
                  </div>
                  <ul class='p-4'>
                    <li>Tanggal: <%= event.date.toLocaleDateString('id') %></li>
                    <li>Lokasi: <%= event.location %>, <%= event.city %></li>
                    <li>Harga: <%= event.price %></li>
                    <li>Posted by: <%= event.author.username %></li>
                    <li>Contact: <%= event.phone %></li>
                  </ul>
                  <% if ((currentUser && event.author.equals(currentUser._id))) { %>
                  <div class='p-4'>
                    <a href="/events/<%= event._id %>/edit" class="px-4 py-2 bg-yellow-500 text-white font-semibold rounded-md text-sm whitespace-nowrap">Edit</a>
                    <form action="/events/<%= event._id %>?_method=DELETE" method='POST' style='display: inline!important'>
                      <button class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md text-sm whitespace-nowrap">Delete</button>
                    </form>
                  </div> 
                  <% } %>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="bg-white rounded-lg shadow-md mb-8">
      <div class="p-6 border-b md:grid-cols-6">
        <h3 class='font-bold'>Leave a Review</h3>
        <form action="/events/<%= event._id %>/eventreviews" method='POST' class='mb-3'>
          <div class="mb-3">
            <label for="rating">Rating</label>
            <input type="range" name='eventReview[rating]' id='rating' min='1' max='5' class='w-full h-2 bg-gray-300 rounded-lg appearance-none cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50'>
          </div>
          <div class="mb-3">
            <label for="review">Review</label>
            <textarea name="eventReview[body]" id="body" cols='30' rows='5' class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500' required></textarea>
          </div>
          <button type='submit' class='px-4 py-2 bg-green-500 text-white font-semibold rounded-md text-sm whitespace-nowrap'>Submit</button>
        </form>
        <hr class="my-4 border-gray-900">
        <% for (const review of event.reviews) { %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Rating: <%= review.rating %></h5>
              <p class="pb-2"><%= review.body %></p>
              <form action="/events/<%= event._id %>/eventreviews/<%= review._id %>?_method=DELETE" method="POST" style='display: inline!important'>
                <button class='px-4 py-2 bg-red-500 text-white font-semibold rounded-md text-sm whitespace-nowrap'>Delete</button>
              </form>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>