<% layout('layouts/app') %>  

<div class='grid grid-rows-2 gap-6'>
  <div class='p-4'>
    <div class="bg-white rounded-lg shadow-md mb-8">
      <div class="p-6 border-b md:grid-cols-6">
          <h2 class="text-xl font-bold flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin">
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 1 1 16 0Z"></path>
                  <circle cx="12" cy="10" r="3"></circle>
              </svg>
              Destination
          </h2>
      </div>
      <div class="p-6">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
              <div class="bg-white rounded-lg overflow-hidden shadow">
                  <img src="/images/<%= destination.images[0].filename %>" alt="<%= destination.name %>" class="w-full h-48 object-cover">
                  <div class="p-4">
                      <h3 class="font-bold text-lg mb-2"><%= destination.name %></h3>
                      <p class="text-gray-600"><%= destination.description %></p>
                  </div>
                  <ul>
                    <li>Lokasi: <%= destination.location %>, <%= destination.city %></li>
                    <li>Harga: <%= destination.price %></li>
                    <li>Posted by: <%= destination.author.username %></li>
                    <li>Contact: <%= destination.phone %></li>
                  </ul>
                  <% if ((currentUser && destination.author.equals(currentUser._id))) { %>
                  <div class="card-body">
                    <a href="/destinations/<%= destination._id %>/edit" class="px-4 py-2 bg-yellow-500 text-white font-semibold rounded-md text-sm whitespace-nowrap">Edit</a>
                    <form action="/destinations/<%= destination._id %>?_method=DELETE" method='POST' style='display: inline!important'>
                      <button class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md text-sm whitespace-nowrap">Delete</button>
                    </form>
                  </div> 
                  <% } %>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="p4">
    <h3>Leave a review</h3>
    <form action="/destinations/<%= destination._id %>/reviews" method='POST' class='validated-form mb-3' novalidate>
      <div class="mb-3">
        <label for="rating">Rating</label>
        <input type="range" name='review[rating]' id='rating' min='1' max='5' class='form-range'>
      </div>
      <div class="mb-3">
        <label for="review">Review</label>
        <textarea name="review[body]" id="body" cols='30' rows='5' class='form-control' required></textarea>
      </div>
      <button type='submit' class='px-4 py-2 bg-green-500 text-white font-semibold rounded-md text-sm whitespace-nowrap'>Submit</button>
    </form>
    <% for (const review of destination.reviews) { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Rating: <%= review.rating %></h5>
          <p class="card-text"><%= review.body %></p>
          <form action="/destinations/<%= destination._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" style='display: inline!important'>
            <button class='px-4 py-2 bg-red-500 text-white font-semibold rounded-md text-sm whitespace-nowrap'>Delete</button>
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>