<% layout('layouts/app') %>  

<h1 class='text-center'>Edit localpreneur</h1>
<div class="row mb-5">
  <div class="col-6" <%= !localpreneur.images.length > 0 ? 'offset-3' : '' %>>
    <form action="/localpreneurs/<%= localpreneur._id %>?_method=PUT" method="post" class='validated-form' novalidate enctype="multipart/form-data">
      <div class='mb-3'>
        <label for="name" class='form-label'>Name</label>
        <input type="text" name="localpreneur[name]" id="name" class='form-control' value='<%= localpreneur.name %>' required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <div class='mb-3'>
        <label for="location" class='form-label'>Location</label>
        <input type="text" name="localpreneur[location]" id="location" class='form-control' value='<%= localpreneur.location %>' required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <div class='mb-3'>
        <label for="description" class='form-label'>Description</label>
        <textarea name="localpreneur[description]" id="description" class='form-control' required><%= localpreneur.description %></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <div class='mb-3'>
        <label for="city" class='form-label'>City</label>
        <input type="text" name="localpreneur[city]" id="city" class='form-control' value='<%= localpreneur.city %>' required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <div class='mb-3'>
        <label for="phone" class='form-label'>Phone Number</label>
        <input type="text" name="localpreneur[phone]" id="phone" class='form-control' value='<%= localpreneur.phone %>' required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <div class='mb-3'>
        <label for="price" class='form-label'>Price</label>
        <input type="number" name="localpreneur[price]" id="price" class='form-control' value='<%= localpreneur.price %>' required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <div class='mb-3'>
        <label for="image" class='form-label'>Image</label>
        <input type="file" name="image" id="image" accept="image/*" class="form-control" multiple>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please fill out this field.
        </div>
      </div>
      <button type="submit" class='btn btn-success'>Save</button>
    </form>
  </div>
  <% if (localpreneur.images.length > 0) { %>
  <div class="col-6">
    <h5 class="text-center">Delete Image</h5>
    <div class="form-group form-check">
      <input type="checkbox" id="checkAll" class="form-check-input">
      <label for="checkAll" class="form-check-label">Check All</label>
    </div>
    <form action="/localpreneurs/<%= localpreneur._id %>/images?_method=DELETE" method="POST" class="d-flex flex-wrap">
      <% localpreneur.images.forEach((image, index) => { %>
        <div class="col-md-4">
          <div class="card-mb-3">
            <img src="/images/<%= image.filename %>" alt="<% localpreneur.name %>" class="card-img-top">
            <div class="card-body">
              <label class="custom-checkbox">
                <input type="checkbox" name="images[]" value="<%= image.url %>">
                <span class="custom-checkbox-text">Pilih</span>
              </label>
            </div>
          </div>
        </div>
      <% }) %>
      <div class="w-100"></div>
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
  <% } %>
</div>

<script>
  document.getElementById('checkAll').addEventListener('change', function() {
    const checkboxes = document.getElementsByName('images[]');
    for (let i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = this.checked
    }
  })
</script>