<% layout('layouts/app') %>  

<link rel="stylesheet" href="/css/stars.css">

<div class='grid grid-cols-1 md:grid-cols-2 md:gap-6'>
  <div class='p-4'>
    <div class="bg-white rounded-lg shadow-md md:mb-8 mb-2">
      <div class="p-6 border-b md:grid-cols-6">
          <h2 class="text-xl font-bold flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin">
                  <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 1 1 16 0Z"></path>
                  <circle cx="12" cy="10" r="3"></circle>
              </svg>
              Localpreneur
          </h2>
      </div>
      <div>
          <div>
              <div class='p-4'>
                  <div class='w-full h-80'>
                    <img src="/images/<%= localpreneur.images[0].filename %>" alt="<%= localpreneur.name %>" class='object-contain w-full h-full mx-auto'>
                  </div>
                  <div class="p-4">
                      <h3 class="font-bold text-lg mb-2"><%= localpreneur.name %></h3>
                      <p class="text-gray-600"><%= localpreneur.description %></p>
                  </div>
                  <ul class='p-4'>
                    <li>Lokasi: <%= localpreneur.location %></li>
                    <li>Kota: <%= localpreneur.city %></li>
                    <li>Harga: <%= localpreneur.price %></li>
                    <li>Posted by: <%= localpreneur.author.username %></li>
                    <li>Contact: <%= localpreneur.phone %></li>
                  </ul>
                  <% if ((currentUser && localpreneur.author.equals(currentUser._id))) { %>
                  <div class='p-4'>
                    <a href="/localpreneurs/<%= localpreneur._id %>/edit" class="px-4 py-2 bg-yellow-500 text-white font-semibold rounded-md text-sm whitespace-nowrap">Edit</a>
                    <form action="/localpreneurs/<%= localpreneur._id %>?_method=DELETE" method='POST' style='display: inline!important'>
                      <button class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md text-sm whitespace-nowrap">Delete</button>
                    </form>
                  </div> 
                  <% } %>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="bg-white rounded-lg shadow-md mb-8">
      <div class="p-6 border-b md:grid-cols-6">
        <div style="width: 640px; height: 480px; margin-bottom: 5%;" id="mapContainer"></div>
        <% if (currentUser) { %>
        <h3 class='font-bold'>Leave a Review</h3>
        <form action="/localpreneurs/<%= localpreneur._id %>/localpreneurreviews" method='POST' class='mb-3'>
          <div class="mb-3">
            <label for="rating">Rating</label>
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="localpreneurReview[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="localpreneurReview[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="localpreneurReview[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="localpreneurReview[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="localpreneurReview[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="localpreneurReview[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label for="review">Review</label>
            <textarea name="localpreneurReview[body]" id="body" cols='30' rows='5' class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500' required></textarea>
          </div>
          <button type='submit' class='px-4 py-2 bg-green-500 text-white font-semibold rounded-md text-sm whitespace-nowrap'>Submit</button>
        </form>
        <% } %>
        <hr class="my-4 border-gray-900">
        <% for (const review of localpreneur.reviews) { %>
          <div class="card mb-3">
            <div class="card-body">
              <p class="starability-result" data-rating="<%= review.rating %>">
                Rated: 3 stars
              </p>
              <p class="pb-2"><%= review.body %></p>
              <% if ((currentUser && review.author.equals(currentUser._id))) { %>
              <form action="/localpreneurs/<%= localpreneur._id %>/localpreneurreviews/<%= review._id %>?_method=DELETE" method="POST" style='display: inline!important'>
                <button class='px-4 py-2 bg-red-500 text-white font-semibold rounded-md text-sm whitespace-nowrap'>Delete</button>
              </form>
              <% } %>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const localpreneur = <%- JSON.stringify(localpreneur) %>
  const localpreneurLocation = {lng: localpreneur.geometry.coordinates[0], lat: localpreneur.geometry.coordinates[1]}
</script>

<script>
  // Initialize the platform object
  const platform = new H.service.Platform({
    'apikey': 'JjLWjgSloI0R1zqfkS_goQr-yFxSLraRPGo9KQa3je0'
  });

  // Obtain the default map types from the platform object
  const defaultLayers = platform.createDefaultLayers();

  // Instantiate (and display) the map
  const map = new H.Map(
    document.getElementById('mapContainer'),
    defaultLayers.vector.normal.map,
    {
      zoom: 10,
      center: localpreneurLocation
    });

  const svgMarkup = `<svg width="50px" height="50px" viewBox="0 0 24 24" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <g transform="translate(0 -1028.4)">
      <path d="m12 0c-4.4183 2.3685e-15 -8 3.5817-8 8 0 1.421 0.3816 2.75 1.0312 3.906 0.1079 0.192 0.221 0.381 0.3438 0.563l6.625 11.531 6.625-11.531c0.102-0.151 0.19-0.311 0.281-0.469l0.063-0.094c0.649-1.156 1.031-2.485 1.031-3.906 0-4.4183-3.582-8-8-8zm0 4c2.209 0 4 1.7909 4 4 0 2.209-1.791 4-4 4-2.2091 0-4-1.791-4-4 0-2.2091 1.7909-4 4-4z" transform="translate(0 1028.4)" fill="#e74c3c"/>
      <path d="m12 3c-2.7614 0-5 2.2386-5 5 0 2.761 2.2386 5 5 5 2.761 0 5-2.239 5-5 0-2.7614-2.239-5-5-5zm0 2c1.657 0 3 1.3431 3 3s-1.343 3-3 3-3-1.3431-3-3 1.343-3 3-3z" transform="translate(0 1028.4)" fill="#c0392b"/>
    </g>
  </svg>`

  const icon = new H.map.Icon(svgMarkup)
  const marker = new H.map.Marker(localpreneurLocation, {icon: icon})

  map.addObject(marker);
  map.setCenter(localpreneurLocation);

  const ui = H.ui.UI.createDefault(map, defaultLayers, 'en-US');
  const behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
</script>